*{
    padding: 0;
    margin: 0;
    font-family: "Sora", sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    margin-top: 164px;
}
.card-container{
    width:358px;
    height: 320px ;
    border-radius: 10px;
    background-color: #e8b1fdbe;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.txt{
    background-color: #fff;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}
img{
    width: 100%;
    height: 152px;
    margin-bottom: 16px;
    border-radius: 10px 10px 0px 0px;
}
h3{
    font-size: 1.125rem; 
    font-weight: bold;
    margin-bottom: 6px;
}
p{
    font-size: 0.875rem;
    margin-bottom: 20px;
}
small{
    font-size: 0.75rem;
}
